@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}
.flex {
    display: flex;
    align-items: center;
}
.back-link {
    margin-top: 100px;
    padding: 30px 0;
}
.go-back__link {
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
    text-decoration: none;
    opacity: 0.5;
}

/* - - - Header section - - - */
.site-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 100px;
    justify-content: space-around;
    background-color: #191919;
    border-bottom: 1px solid rgba(118, 121, 126, 0.576);
}
.site-nav__list {
    list-style-type: none;
}
.site-nav__item {

}
.site-nav__link {
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 13px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #FFFFFF;
    text-decoration: none;
    padding-right: 34px;
}
.site-nav__link:hover {
    color: #D87D4A;
}
.site-nav__bars {
    color: #FFFFFF;
}
/* - - - /Header section - - - */

/* - - - Headphone card section - - - */
.headphone-card__section {
    margin: 50px 0;
}
.card-image {
    background-color: #F1F1F1;
    border-radius: 8px;
    padding: 50px;
    text-align: center;
}
.card-new__heading {
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: #D87D4A;
    margin: 24px 0;
}
.card-heading {
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 24px;
}
.card-title {
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
    opacity: 0.5;
    margin-bottom: 24px;
}
.card-price {
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1.28571px;
    color: #000000;
    margin-bottom: 24px;
}
.card-amount {
    padding: 15px;
    background-color: #F1F1F1;
}
.card-amount__index {
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 13px;
    padding: 20px;
    color: #000000;
}
.minus, .plus {
    opacity: 0.25;
}
.card-features {
    margin: 50px 0;
}
.card-feature__heading {
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.857143px;
    text-transform: uppercase;
    color: #000000;
    margin-top: 24px;
}
.card-feature__title {
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
    opacity: 0.5;
    margin: 24px 0;
    padding-right: 40px;
}
.card-box__number {
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: #D87D4A;
    margin-right: 24px;
}
/* - - - /Headphone card section - - - */

/* - - - Main section - - - */
.button {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    background-color: #D87D4A;
}
.button:hover {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 15px 30px;
    border: none;
    background-color: #FBAF85;
    transition: all 0.5s;
}
.btn-link {
    text-decoration: none;
    color: #FFFFFF;
}
/* - - - /Main section - - - */

/* - - - More products section - - - */
.more-products {
    margin: 100px 0;
}
.more-products__heading {
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.857143px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 60px;
}
.more-card {
    text-align: center;
}
.more-card__image {
    background-color: #F1F1F1;
    border-radius: 8px;
}
.more-card__heading {
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 1.71429px;
    text-transform: uppercase;
    color: #000000;
    margin: 20px 0;
}
/* - - - /More products section - - - */

/* - - - Products section - - - */
.products-section {
    padding: 50px 0;
}
.product-card {
    text-align: center;
    background: #F1F1F1;
    border-radius: 8px;
    /* height: 0 auto; */
    padding-bottom: 22px;
    margin-top: 60px;
}
.product-card__image {
    position: relative;
    top: -50px;
}
.pruduct-card__heading {
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 1.07143px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 20px;
}
.product-card-link {
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #00000080;
    text-decoration: none;
}
.product-card-link:hover {
    color: #D87D4A;
}
.product-card-right {
    color: #D87D4A;
}
/* - - - /Products section - - - */

/* - - - Location section - - - */
.location-section {
    margin: 50px 0;
}
.location-heading {
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
}
.location-heading__best {
    color: #D87D4A;
}
.location-title {
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #000000;
    opacity: 0.5;
}
/* - - - /Location section - - - */

/* - - - Footer section - - - */
.footer-section {
    background-color: #101010;
    margin-top: 50px;
}
.footer-bg {
    background-color: #101010;
    padding: 50px 0;
}
.footer-links {
    padding-top: 50px;
}
.footer-list {
    list-style-type: none;
}
.footer-link {
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}
.footer-link:hover {
    color: #D87D4A;
}
.footer-title {
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    opacity: 0.5;
}
.footer-copyright {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    opacity: 0.5;
}
.footer-icon__link {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 24px;
}
.footer-icon__link:hover {
    text-decoration: none;
    color: #D87D4A;
    font-size: 24px;
}
.footer-icons {
    padding-bottom: 50px;
}
/* - - - /Footer section - - - */





@media (max-width:375px) {
    .container {
        width: 370px;
        margin: 0 auto;
        padding: 0;
    }
    .site-nav__links {
        display: none;
    }

    #menu__toggle {
        opacity: 0;
    }
    #menu__toggle:checked + .menu__btn > span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked + .menu__btn > span::before {
        top: 0;
        transform: rotate(0deg);
    }
    #menu__toggle:checked + .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
        left: 0 !important;
    }
    .menu__btn {
        position: fixed;
        top: 50px;
        left: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 10;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition-duration: .25s;
    }
    .menu__btn > span::before {
        content: '';
        top: -8px;
    }
    .menu__btn > span::after {
        content: '';
        top: 8px;
    }
    .menu__box {
        display: block;
        position: fixed;
        top: 100px;
        left: -100%;
        width: 100vw;
        height: 100vh;
        list-style: none;
        background-color: #FFFFFF;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        transition-duration: .25s;
    }
    .menu__item {
        display: block;
        text-decoration: none;
        transition-duration: .25s;
    }
    .menu__item:hover {
        background-color: #CFD8DC;
    }
    .card-nav {
        width: 80%;
        padding-top: 30px;
    }
    .card-nav__image {
        display: none;
    }
    
    .head-images__smallone {
        background: url(../images/mobile/earphones/earphones1/edm1-small1.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 100px;
        border-radius: 8px;
        margin-bottom: 24px;
    }
    .head-images__smalltwo {
        background: url(../images/mobile/earphones/earphones1/edm1-small2.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 100px;
        border-radius: 8px;
    }
    .head-images__big {
        background: url(../images/mobile/earphones/earphones1/edm1-big.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 210px 0;
        border-radius: 8px;
        margin-top: 24px;
    }
    .more-card {
        margin-bottom: 40px;
    }
    .more-card__image {
        padding: 20px 0;
    }
    
    .location-man__image {
        background: url(../images/mobile/home/mobile-man.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 200px 100px;
        border-radius: 8px;
    }
    .location-heading {
        padding: 30px 20px;
    }
    .location-title {
        padding: 0 20px;
    }
    .footer-links {
        text-align: center;
        margin-bottom: 40px;
    }
    .footer-item {
        margin: 15px 0;
    }
    .footer-logo {
        padding-bottom: 20px;
    }
    .footer-title {
        text-align: center;
        padding: 0 20px;
    }
    .footer-copyright {
        text-align: center;
        margin: 50px 0;
    }
    .footer-icons {
        text-align: center;
    }
    .footer-icon__link {
        padding: 0 10px;
    }
}
@media (min-width:376px) and (max-width:768px) {
    .container {
        width: 720px;
        margin: 0 auto;
        padding: 0;
    }

    #menu__toggle {
        opacity: 0;
    }
    #menu__toggle:checked + .menu__btn > span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked + .menu__btn > span::before {
        top: 0;
        transform: rotate(0deg);
    }
    #menu__toggle:checked + .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
        left: 0 !important;
    }
    .menu__btn {
        position: fixed;
        top: 50px;
        left: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 10;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition-duration: .25s;
    }
    .menu__btn > span::before {
        content: '';
        top: -8px;
    }
    .menu__btn > span::after {
        content: '';
        top: 8px;
    }
    .menu__box {
        display: flex;
        position: fixed;
        top: 100px;
        left: -100%;
        width: 100vw;
        height: 55vh;
        list-style: none;
        background-color: #FFFFFF;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        transition-duration: .25s;
        padding: 50px 0px;
    }
    .menu__item {
        display: block;
        text-decoration: none;
        transition-duration: .25s;
    }
    .menu__item:hover {
        background-color: #CFD8DC;
    }
    .card-nav {
        width: 30%;
    }

    .site-nav__links {
        display: none;
    }
    .headphone-card {
        display: flex;
    }
    .card-image {
        margin-right: 60px;
    }
    .card-box {
        display: flex;
        margin-right: 100px;
    }
    .head-images {
        display: flex;
    }
    .head-images__two {
        width: 40%;
    }
    .head-images__smallone {
        background: url(../images/mobile/earphones/earphones1/edm1-small1.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 100px;
        border-radius: 8px;
        margin-bottom: 24px;
    }
    .head-images__smalltwo {
        background: url(../images/mobile/earphones/earphones1/edm1-small2.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 100px;
        border-radius: 8px;
    }
    .head-images__big {
        background: url(../images/mobile/earphones/earphones1/edm1-big.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 150px;
        border-radius: 8px;
        width: 55%;
    }
    .more-cards {
        display: flex;
    }
    .more-card {
        width: 32%;
        margin-bottom: 40px;
    }
    .more-card__image {
        padding: 40px 0;
    }

    .products-section {
        display: flex;
    }
    .product-card {
        width: 33%;
        padding-bottom: 10px;
        margin: 0 5px;
        margin-top: 50px;
    }
    .location-man__image {
        background: url(../images/tablet/home/tablet-man.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 200px 100px;
        border-radius: 8px;
    }
    .location-heading {
        font-size: 40px;
        line-height: 44px;
        padding: 30px 90px;
    }
    .location-title {
        padding: 0 70px;
    }
    .footer-links {
        margin-bottom: 40px;
    }
    .footer-logo {
        padding-bottom: 20px;
    }
    .footer-list {
        float: left;
        display: flex;
    }
    .footer-item {
        padding-right: 30px;
    }
    .footer-title {
        padding-right: 25px;
    }
    .footer-bottom {
        display: flex;
        margin-top: 50px;
        justify-content: space-between;
    }
    .footer-icon__link {
        padding-right: 20px;
    }
}
@media (min-width:769px) and (max-width:1440px) {
    .container {
        width: 1200px;
        margin: 0 auto;
        padding: 0;
    }
    .site-nav__links {
        display: flex;
    }
    .site-nav__bars {
        display: none;
    }
    .headphone-type {
        display: flex;
        align-items: center;
    }
    .headphone-card {
        display: flex;
    }
    .card-image {
        width: 40%;
        padding: 100px 0;
        margin-right: 60px;
    }
    .card-detail {
        width: 50%;
        padding-right: 150px;
    }
    .card-heading {
        font-size: 40px;
    }
    .card-features {
        display: flex;
    }
    .card-feature {
        width: 70%;
    }
    .head-images {
        display: flex;
    }
    .head-images__two {
        width: 40%;
    }
    .head-images__smallone {
        background: url(../images/mobile/earphones/earphones1/edm1-small1.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 150px;
        border-radius: 8px;
        margin-bottom: 24px;
    }
    .head-images__smalltwo {
        background: url(../images/mobile/earphones/earphones1/edm1-small2.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 150px;
        border-radius: 8px;
    }
    .head-images__big {
        background: url(../images/mobile/earphones/earphones1/edm1-big.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 300px;
        border-radius: 8px;
        width: 55%;
    }
    .more-cards {
        display: flex;
    }
    .more-products__heading {
        font-size: 32px;
    }
    .more-card {
        width: 32%;
        margin-bottom: 40px;
    }
    .more-card__image {
        padding: 40px 0;
    }

    .products-section {
        display: flex;
    }
    .product-card {
        width: 30%;
        padding-bottom: 10px;
        margin: 0 20px;
        margin-top: 50px;
    }
    .location-section {
        display: flex;
        flex-direction: row-reverse;
    }
    .location-man__image {
        background: url(../images/desktop/home/desktop-man-earphone.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 300px 0px;
        border-radius: 8px;
        width: 45%;
    }
    .location-text {
        width: 45%;
        align-items: center;
    }
    .location-heading {
        font-size: 40px;
        line-height: 44px;
        padding: 30px 40px;
        margin-top: 150px;
    }
    .location-title {
        padding: 0 70px;
    }
    .footer-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
    }
    .footer-list {
        display: flex;
    }
    .footer-item {
        padding-right: 30px;
    }
    .footer-title {
        margin-left: 150px;
        padding-right: 450px;
    }
    .footer-bottom {
        display: flex;
        margin-top: 50px;
        justify-content: space-between;
    }
    .footer-copyright {
        margin-right: 220px;
    }
    .footer-icon__link {
        padding-right: 20px;
    }
}
